node_modules
vendor/
docs/.vitepress/dist
docs/.vitepress/cache
.idea
woocommerce-rave.zip
.env
.env.e2e
.phpunit.result.cache
.DS_Store
*/.DS_Store
phpcs-report.xml
build/
.docker/bin
.docker/logs
.docker/data
.docker/wordpress