<?xml version="1.0"?>
<phpunit
        bootstrap="tests/PHPUnit/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        convertDeprecationsToExceptions="false"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory prefix="test-" suffix=".php">./includes</directory>
            <file>./woocommerce-rave.php</file>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="FLWWC">
            <directory suffix=".php">./tests/PHPUnit</directory>
        </testsuite>
    </testsuites>
</phpunit>
